*.diff
*.orig
*.rej
*.tar.*
*~
.bootstrap
.emacs*
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
confpaths.h
gnu
m4
stamp-h1
