*.tar.*
*~
.bootstrap
.emacs.desktop
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
confpaths.h
gnu
m4
pathdefs.make
paths.defs
stamp-h1
